@import "tailwindcss";

.--newProjectContainer {
    @apply w-[400px] bg-white border-3 border-[#00FF85] shadow-[0_4px_10px_black] overflow-hidden mt-6 rounded-[50px] flex flex-col justify-center items-center p-6 gap-6;
}