@import "tailwindcss";

.--projectsSection {
    @apply p-6 flex flex-row flex-wrap w-full justify-center items-center mt-[40px] gap-[150px];
}

.--projectCard {
    @apply relative w-[400px] h-[600px] bg-white border-10 border-[#00FF85] shadow-[0_4px_10px_black] overflow-hidden mt-6 rounded-[50px];
}

.--projectCardImg {
    @apply w-[250px] border-[#00FF85] border-4 h-[250px] rounded-[100px] flex justify-center items-center overflow-hidden object-cover
    ;
}

.--projectCardInfo {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full flex flex-col justify-end items-start;
}

.--projectCardInfoContainer {
    @apply backdrop-blur-[2px] border-white w-full flex flex-col justify-center items-center;
}

.--projectTitle {
    @apply mb-4 text-black;
}

.dark .--projectCard {
    @apply bg-gray-900
}

.dark .--projectTitle {
    @apply text-white;
}
