@import "tailwindcss";

.--projectDetails {
    @apply p-6 flex flex-col justify-center items-center flex-wrap mb-20 gap-6 max-[1695px]:justify-center max-[1695px]:text-center;
}

.--projectInfo {
    @apply flex flex-col gap-4 w-1/2;
}

.--imageCarousel {
    @apply relative flex justify-center items-center w-[850px] max-[1000px]:w-[300px] h-[550px] max-[1000px]:h-[150px] border-10 border-[#00FF65] bg-gray-500 rounded-lg overflow-hidden;
}

.--carouselImage {
    @apply w-[800px] max-[1000px]:w-[250px] h-auto rounded-2xl shadow-lg object-scale-down relative;
}

.carouselBtn {
    @apply absolute flex justify-center top-1/2 w-[55px] max-[1000px]:w-[25px] -translate-y-1/2 bg-white text-[#00FF85] border-2 text-3xl px-3 py-1.5 cursor-pointer rounded-md transition-colors duration-300;
  }
  
  .carouselBtn.prev {
    @apply left-4;
  }
  
  .carouselBtn.next {
    @apply right-4;
  }
  