@import "tailwindcss";

.--techStackContainer {
    @apply flex flex-col justify-center items-center w-full pt-[350px]
}

.--techStackIcons {
    @apply m-4 max-[768px]:m-2 p-2 text-[50px] max-[768px]:text-[32px] bg-white rounded-2xl text-center
}

.dark .--techStackIcons {
    @apply bg-gray-900
}
.--techStackIcons:hover {
    @apply text-[#00FF85] transition duration-300 ease-in-out cursor-pointer
}